<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>姓名案例</title>
        <script type="text/javascript" src="../js/vue.js"></script>
    </head>
    <body>
        <div id="root">
            请输入姓: <input type="text" v-model="firstName">
            <br><br>
            请输入名: <input type="text" v-model="lastName">
            <br><br>
            姓名为: <span>{{fullName}}</span>
        </div>
    </body>
    <script type="text/javascript">
        Vue.config.productionTip = false

        const vm = new Vue({
            el: '#root',
            data: {
                firstName: '程',
                lastName: '柯嘉'
            },
            computed: {
                //完整写法
                /*fullName: {
                    get() {
                        return this.firstName + '-' + this.lastName
                    },
                    set(value) {
                        const arr = value.split('-')
                        this.firstName = arr[0]
                        this.lastName = arr[1]
                    }
                }*/
                //简写
                fullName(){
                    return this.firstName + '-' + this.lastName
                }
            }
        })
    </script>
</html>
